{% extends "base.html" %}

{% block content %}

    <h2>Edit Project</h2>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }} <br>
            {{ form.title(size=32) }} <br>
            {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.body.label }} <br>
            {{ form.body(cols=34, rows=5) }} <br>
            {% for error in form.body.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.status.label }} <br>
            {{ form.status }} <br>
            {% for error in form.status.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.sdate.label }} <br>
            {{ form.sdate(size=32) }} <br>
            {% for error in form.sdate.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.edate.label }} <br>
            {{ form.edate(size=32) }} <br>
            {% for error in form.edate.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}